@import url(./global.css);

header{
    width: 100%;
    height: 72px;

    display: flex;
    justify-content: space-between;
    padding: 16px 64px;

    border: 1px solid black;
}

header > img{
    width: 80px;
    height: 40px;  
}

.header-content{
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-content > nav{
    display: flex;
    align-items: center;
    gap: 32px;
   
}

nav > a{
    font-size: 16px;
    color: #000000;
}
.header-content > nav :last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.icon{
    width: 12px;
    height: 10px;
}

.btn{
    width: 88px;
    height: 40px;
    border: 1px solid black;
    background-color: transparent;
}

.btn-dark{
    background-color: #000000;
    color: white;
}